.campaignCard {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #eee;
    display: flex;
    gap: 6px;
    flex-direction: column;
}


.campaignCard .title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}

.campaignCard .fundingGoal,
.campaignCard .currentFund,
.campaignCard .deadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: .875rem;
    font-weight: 500;
    color: #333;
}


.campaignCard .status {
    width: fit-content;
    background-color: rgb(255, 191, 0);
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    place-self: end;
    margin-top: 15px;
}

.campaignCard .status.failed {
    background-color:red;
}

.campaignCard .status.active {
    background-color: rgb(255, 191, 0);
}

.campaignCard .status.successful {
    background-color:green;
}

