.milestones-container {
    margin: 20px 0;
}

.milestones-container > h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 20px 0;
}

.milestones-container .milestones {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 1rem;
}